.menu {

}

:global(.ant-menu.ant-menu-dark .ant-menu-item:hover) {
  background-color: #000;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item.ant-menu-item-selected) {
  background-color: #000;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item a) {
  color: #000;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item-selected a) {
  color: #fff;
}


