:global(.ant-menu.ant-menu-dark .ant-menu-item.ant-menu-item-selected) {
  background-color: #000;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item a) {
  // TODO
  color: #000 !important;
  text-transform: uppercase;
  font-size: 12px;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item-selected a) {
  // TODO
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item:hover) {
  background-color: #000;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item:hover a) {
  color: white !important;
}
