.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.companiesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.companyCard {
  padding: 10px;
  border: 1px solid black;
}

