@import "../../global.module";
@import "../../variables";

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h2 {
    font-weight: 700;
    text-align: center;
  }
}

.companiesWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.companiesList {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
  justify-content: space-between;
}

.companyCard {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-right: 20px;
}

.companyInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    margin: 0;
  }

  .joinDate {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    font-style: italic;
    margin-top: 10px;
  }

  .founder {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    margin-top: -2px;
  }

  .companyName {
    color: rgba(0, 0, 0, 0.65);
    font-size: 22px;
  }
}


.logoWrapper {
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.companyLogo {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}

.companyCard {
  a {
    margin-top: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
  }
}

.requestsWrapper {
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.requests {
}

.requestCard {
  margin-bottom: 50px;
  margin-right: 20px;
}

.requestType {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
}

.status {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border-radius: 100px;
  border: 1px solid black;
  font-size: 12px;
  line-height: 20px;
  background-color: white;
  color: black;
  font-weight: 400;
  margin-left: 5px;
  transform: scale(.85);

  &.accepted {
    background-color: $yellow_color;
    color: black;
    border: none;
  }

  &.declined {
    background-color: $red_color;
    color: white;
    border: none;
  }
}

.date {
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}

.requestInfo {
  display: flex;
  align-items: center;
}

.rejectButton {
  margin-right: 10px;
}