body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #f0f2f5 !important;
  //TODO delete important//
  font-family: 'Work Sans', sans-serif !important;
}
